.tok3n-phoneline-view-landline
  .tok3n-dashboard-segment
    .title
      span
        h2
          span.icon-tok3n-landline
          span.space
          | Office
    table.specs
      tr
        td.name Type:
        td Landline
      tr
        td.name Date added:
        td June 10th, 2014
      tr
        td.name Number:
        td +52 (55) 6269 8369
    a.btn.btn-danger(href='#') Revoke