.tok3n-phoneline-view-cellphone
  .tok3n-dashboard-segment
    .title
      span
        h2
          span.icon-tok3n-cellphone
          span.space
          | Victor Telefónica
    table.specs
      tr
        td.name Type:
        td Cellphone
      tr
        td.name Date added:
        td June 10th, 2014
      tr
        td.name Last used:
        td June 11th, 2014
      tr
        td.name Number:
        td +52 1 (55) 6423 2193
    a.btn.btn-danger(href='#') Revoke