.create-container
	margin: 0 auto
	+at(1)
		width: 90%
	+from(2)
		width: 390px

.create-account
	margin-bottom: 3em

.state-buttons
	margin-bottom: 1em
	text-align: right
	+at(1)
		margin-top: 30px
		margin-bottom: 30px
	+from(2)
		margin-top: 40px
		margin-bottom: 40px
	+to(2)
		.btn
			font-size: 120%
	.btn:first-child
		margin-right: 1em
	.btn
		width: 120px