$tok3n-blue: #31B3D4
$tok3n-purple: #2b3087

@include animate-flash

.tok3n-container
	font-family: $font-family-sans-serif
	// position: absolute
	-webkit-tap-highlight-color: transparent
	-webkit-touch-callout: none
	+user-select(none)
	// overflow: overlay

.tok3n-flipper
	+transform-style(preserve-3d)
	position: relative
	+single-transition(all, .5s, ease-in-out)
	// +transition-transform(0.5s ease-out)

.tok3n-front, .tok3n-back
	+backface-visibility(hidden)
	position: absolute
	top: 0
	left: 0
	// +box-shadow(rgba(0,0,0,0.2) 0 0 1px 1px, rgba(0,0,0,0.7) 0 10px 27px, inset 0 -1px 2px rgba(82,93,112,0.4))
	+box-shadow(rgba(0,0,0,0.2) 0 0 1px 1px, rgba(0,0,0,0.3) 0 10px 27px)

.tok3n-front, .tok3n-back, .tok3n-container
	+border-radius(10px)
	width: 339px
	background-color: #fafafa

.tok3n-front
	z-index: 2

.tok3n-back
	+transform(rotateY(180deg))

.tok3n-flipped
	+transform(rotateY(180deg))

/////////////////////
// Float labels
/////////////////////

$float-label-size: 1.2em
+float-label-animation($float-label-size)

.tok3n-login-form
	+float-label-size($float-label-size)
	@extend %float-label
	.tok3n-login-input > ol
		list-style: none
		padding: 0px
		> li
			position: relative
			margin: 1.2em 0
	.tok3n-login-input
		margin-top: 2.5em
	input
		padding: 0.1em 0em
		border: none
		border-radius: 0px
		border-bottom: 1px solid #ccc
		outline: none
		margin: 0px
		background: none
		width: 100%
	label
		font-weight: normal

/////////////////////
// Front & Back
/////////////////////

.tok3n-header
	height: 80px
	padding: 0 30px
	background-image: linear-gradient(color-stops(adjust-lightness($tok3n-purple, 12) 10%, adjust-lightness($tok3n-purple, 25) 100%))
	background-position: top
	background-repeat: repeat-x
	+border-top-left-radius(10px)
	+border-top-right-radius(10px)

	.tok3n-logo
		height: 80px
		background-image: image-url('logo.svg')
		+background-size(115px auto)
		color: white(.8)
		background-repeat: no-repeat
		background-position: center

.tok3n-lower-wrapper
	margin: 25px 0 30px
	padding: 0 30px

.tok3n-login-alert
	@extend .alert
	@extend .alert-danger
	+border-radius(0)
	+single-transition(all, .3s, ease)
	padding: 15px 30px
	margin: 0
	b
		margin-right: .5em		
.tok3n-login-alert-hidden
	max-height: 0
	padding: 0 30px
	border: 0
	// color: transparent
	overflow: hidden

.tok3n-login-alert-active
	+animation(flash)
	+animation-duration(.5s)
	+animation-delay(.3s)
	+animation-iteration-count(1)

.tok3n-headline
	color: #fafafa
	font-weight: bold
	+letterpress(black(.3))
	overflow: hidden
	
.tok3n-placeholder, .tok3n-button-stripe
	font-family: 'tok3n-icons'

.tok3n-enter-label
	label
		font-weight: normal
		font-size: 1.2em
		color: #888
.tok3n-fallbacks
	color: #777
	margin-bottom: 2em

.tok3n-enter
	margin: 10px auto 15px
	// @extend .has-error

	.tok3n-otp
		@extend .form-control
		height: 75px
		padding-left: 20px
		width: 100%
		font-size: 36px
		
	.tok3n-placeholder
		font-size: 2.9em
		display: inline-block
		position: absolute
		margin-left: 225px
		margin-top: -68px
		color: #bbb
		+single-transition(color, .3s, ease-in)
		&:hover
			color: adjust-lightness($tok3n-blue, 20)
		&:after, &:before
			white-space: pre
		
.tok3n-submit
	margin: 0 auto
	button
		margin: 0 auto
		@extend .btn
		@extend .btn-lg
		@extend .btn-block
		@extend .ladda-button
		@extend .ladda-button[data-style=zoom-in]
		//+sassy-button("simple", 5px, 1.3em, #3d44be, $tok3n-purple)
		+button-variant(hsla(0, 0, 100%, .95), adjust-lightness($tok3n-purple, 25), black(.1))

		.tok3n-button-stripe
			font-size: 2.42em
			position: absolute
			margin-top: -16px
			margin-left: -25px
			color: hsl(358, 70%, 60%)
			+letterpress(black(.4))
			+single-transition(color, .3s, ease-in-out)
		&:hover .tok3n-button-stripe,
		&:focus .tok3n-button-stripe,
		&:active .tok3n-button-stripe
			color: hsl(358, 70%, 50%)

		.tok3n-button-text
			margin-left: 2em

.tok3n-dont-have-phone
	margin: 0 0 10px
.tok3n-dont-have-phone
	small
		opacity: .8
		// +single-transition(opacity, .1s, ease)
		&:hover
			opacity: 1