include 'layout.blade'
render title('Tok3n Validation | site.com')

prepend block style
  // [if lte IE 8]> <link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" /> <![endif]

replace block body


append block footer