/* line 7, ../sass/base.sass */
body {
  font-family: "ff-dagny-web-pro";
  color: #333333;
  font-size: 145%;
}
/* line 12, ../sass/base.sass */
body a {
  color: #434cd3;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #636bd4;
}
/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #ba7f29;
}

/* line 15, ../sass/base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "adelle";
  color: #3d418f;
}

/* line 44, ../sass/base.sass */
a {
  text-decoration: none;
  color: #1b98f8;
}

/* line 56, ../sass/base.sass */
#top {
  position: relative;
  z-index: 2;
}

/* line 60, ../sass/base.sass */
.top-nav {
  -webkit-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  -moz-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  background: white;
  width: 100%;
  letter-spacing: normal;
  position: fixed;
  border-bottom: 1px solid #411485;
  border-bottom: 1px solid rgba(65, 20, 133, 0.3);
}
/* line 69, ../sass/base.sass */
.top-nav .nav-wrap {
  padding: 0 1.9em;
}
/* line 73, ../sass/base.sass */
.top-nav header .logo {
  margin: 0.61em 0;
  height: 40px;
  width: 111px;
  background-image: url('//static.tok3n.com/0.0.1/img/logo.png?1376272590');
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 73, ../sass/base.sass */
  .top-nav header .logo {
    background-image: url('//static.tok3n.com/0.0.1/img/logo_hd.png?1376272590');
    background-size: 111px 40px;
  }
}
/* line 79, ../sass/base.sass */
.top-nav nav {
  margin-top: 13px;
}
/* line 81, ../sass/base.sass */
.top-nav nav .menu {
  text-align: right;
}
/* line 83, ../sass/base.sass */
.top-nav nav .menu ul {
  list-style-type: none;
}
/* line 5, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.top-nav nav .menu ul, .top-nav nav .menu ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 85, ../sass/base.sass */
.top-nav nav .menu ul li {
  margin: 0 1.05em;
}
/* line 87, ../sass/base.sass */
.top-nav nav .menu ul li a {
  color: #171947;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.top-nav nav .menu ul li a:hover {
  color: #434cd3;
}
/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.top-nav nav .menu ul li a:active {
  color: #ba7f29;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.top-nav nav .menu ul li a:hover {
  text-decoration: underline;
}
/* line 92, ../sass/base.sass */
.top-nav nav .menu ul li:first-child {
  margin: 0 1.05em 0 0;
}
/* line 94, ../sass/base.sass */
.top-nav nav .menu ul li:last-child {
  margin: 0 0 0 1.05em;
}
/* line 96, ../sass/base.sass */
.top-nav nav .menu ul li:only-child {
  margin: 0;
}
/* line 98, ../sass/base.sass */
.top-nav nav .menu ul li .settings {
  background: rgba(39, 47, 165, 0.68);
  color: white;
  padding: 0.5em 1.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: background 0.3s ease-out;
  -webkit-transition-delay: 0;
  -moz-transition: background 0.3s ease-out 0;
  -o-transition: background 0.3s ease-out 0;
  transition: background 0.3s ease-out 0;
}
/* line 105, ../sass/base.sass */
.top-nav nav .menu ul li .settings:hover {
  background: rgba(48, 59, 207, 0.9);
}
/* line 107, ../sass/base.sass */
.top-nav nav .menu ul li .settings:active {
  background: rgba(172, 177, 236, 0.9);
}
/* line 109, ../sass/base.sass */
.top-nav nav .menu ul li .settings .icon-cog {
  font-size: 16px;
}
/* line 111, ../sass/base.sass */
.top-nav nav .menu ul li .settings .text {
  margin-left: 0.6em;
  font-family: "ff-dagny-web-pro";
}
/* line 114, ../sass/base.sass */
.top-nav nav .menu ul li .settings .icon-caret-down {
  margin-left: 0.8em;
}

/* line 121, ../sass/base.sass */
#layout {
  padding-left: 472px;
  position: relative;
  padding-top: 58px;
  z-index: 1;
}

/* line 127, ../sass/base.sass */
#nav, #list {
  position: fixed;
  top: 58px;
  bottom: 0;
  overflow: auto;
}

/* line 133, ../sass/base.sass */
#nav {
  margin-left: -472px;
  width: 220px;
  background: #252a3a;
  text-align: center;
  padding: 2em 0;
}

/* line 140, ../sass/base.sass */
#list {
  width: 252px;
  border-right: 1px solid #dddddd;
}

/* line 144, ../sass/base.sass */
#content {
  margin-left: -252px;
}

/* line 147, ../sass/base.sass */
#main {
  margin-left: 252px;
}

/* line 150, ../sass/base.sass */
.white-popup {
  position: relative;
  background: white;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
/* line 157, ../sass/base.sass */
.white-popup .create-button {
  margin-bottom: 0;
}
/* line 159, ../sass/base.sass */
.white-popup .title {
  margin-top: 0.5em;
  text-align: center;
}
/* line 162, ../sass/base.sass */
.white-popup label.align-top {
  margin-top: 0.4em;
}
/* line 164, ../sass/base.sass */
.white-popup .web-toggle {
  display: none;
}
/* line 166, ../sass/base.sass */
.white-popup .btn-file {
  position: relative;
  overflow: hidden;
}
/* line 169, ../sass/base.sass */
.white-popup .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/* line 182, ../sass/base.sass */
.white-popup .form-control {
  cursor: default;
}
