h1, h2, h3 {
  font-family: "adelle";
  color: #3d418f;
}

body {
  font-family: "ff-dagny-web-pro";
  color: #333333;
}
body a {
  color: #434cd3;
}
body a:hover {
  color: #636bd4;
}
body a:active {
  color: #ba7f29;
}

a {
  text-decoration: none;
  color: #1b98f8;
}

#top {
  position: relative;
  z-index: 2;
}

.top-nav {
  -webkit-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  -moz-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  background: white;
  width: 100%;
  letter-spacing: normal;
  position: fixed;
  border-bottom: 1px solid #411485;
  border-bottom: 1px solid rgba(65, 20, 133, 0.3);
}
.top-nav .nav-wrap {
  padding: 0 1.9em;
}
.top-nav header .logo {
  margin-top: 0.61em;
  margin-bottom: 0.61em;
  height: 40px;
  width: 111px;
  background-image: url('../img/logo.png?1376272590');
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  .top-nav header .logo {
    background-image: url('../img/logo_hd.png?1376272590');
    background-size: 111px 40px;
  }
}
.top-nav nav {
  margin-top: 12px;
}
.top-nav nav .menu {
  text-align: right;
}
.top-nav nav .menu ul {
  list-style-type: none;
}
.top-nav nav .menu ul, .top-nav nav .menu ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.top-nav nav .menu ul li {
  margin: 0 1.05em;
}
.top-nav nav .menu ul li a {
  color: #171947;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.top-nav nav .menu ul li a:hover {
  color: #434cd3;
}
.top-nav nav .menu ul li a:active {
  color: #ba7f29;
}
.top-nav nav .menu ul li a:hover {
  text-decoration: underline;
}
.top-nav nav .menu ul li:first-child {
  margin: 0 1.05em 0 0;
}
.top-nav nav .menu ul li:last-child {
  margin: 0 0 0 1.05em;
}
.top-nav nav .menu ul li:only-child {
  margin: 0;
}
.top-nav nav .menu ul li .settings {
  background: rgba(39, 47, 165, 0.68);
  color: white;
  padding: 0.5em 1.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: background 0.3s ease-out;
  -webkit-transition-delay: 0;
  -moz-transition: background 0.3s ease-out 0;
  -o-transition: background 0.3s ease-out 0;
  transition: background 0.3s ease-out 0;
}
.top-nav nav .menu ul li .settings:hover {
  background: rgba(48, 59, 207, 0.9);
}
.top-nav nav .menu ul li .settings:active {
  background: rgba(172, 177, 236, 0.9);
}
.top-nav nav .menu ul li .settings .icon-cog {
  font-size: 16px;
}
.top-nav nav .menu ul li .settings .text {
  margin-left: 0.6em;
  font-family: "ff-dagny-web-pro";
}
.top-nav nav .menu ul li .settings .icon-caret-down {
  margin-left: 0.8em;
}

#layout {
  padding-left: 472px;
  position: relative;
  padding-top: 60px;
  z-index: 1;
}

#nav, #list {
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow: auto;
}

#nav {
  margin-left: -472px;
  width: 220px;
  background: #252a3a;
  text-align: center;
  padding: 2em 0;
}

#list {
  margin-left: -252px;
  width: 252px;
  border-right: 1px solid #dddddd;
}
