/* line 1, ../sass/_extensions.sass */
span.space {
  margin: 0 0.5em;
}

/* line 4, ../sass/_extensions.sass */
.action-button i {
  margin-right: 0.5em;
}

/* line 7, ../sass/base.sass */
body {
  font-family: "ff-dagny-web-pro";
  color: #333333;
  font-size: 145%;
}
/* line 12, ../sass/base.sass */
body a {
  color: #434cd3;
}
/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #636bd4;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #ba7f29;
}

/* line 15, ../sass/base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "adelle";
  color: #3d418f;
}

/* line 19, ../sass/base.sass */
a {
  text-decoration: none;
  color: #1b98f8;
}

/* line 34, ../sass/base.sass */
#top {
  position: relative;
  z-index: 2;
}

/* line 38, ../sass/base.sass */
.top-nav {
  -moz-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  -webkit-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  letter-spacing: normal;
  position: fixed;
  border-bottom: 1px solid #411485;
  border-bottom: 1px solid rgba(65, 20, 133, 0.3);
}
/* line 47, ../sass/base.sass */
.top-nav .nav-wrap {
  padding: 0 1.9em;
}
/* line 51, ../sass/base.sass */
.top-nav header .logo {
  margin: 0.61em 0;
  height: 40px;
  width: 111px;
  background-image: url('//s3.amazonaws.com/static.tok3n.com/0.0.1/img/logo.png?1376272590');
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 51, ../sass/base.sass */
  .top-nav header .logo {
    background-image: url('//s3.amazonaws.com/static.tok3n.com/0.0.1/img/logo_hd.png?1376272590');
    background-size: 111px 40px;
  }
}
/* line 57, ../sass/base.sass */
.top-nav nav {
  margin-top: 13px;
}
/* line 59, ../sass/base.sass */
.top-nav nav .menu {
  text-align: right;
  margin-right: 1em;
}
/* line 62, ../sass/base.sass */
.top-nav nav .menu ul {
  list-style-type: none;
}
/* line 6, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
.top-nav nav .menu ul, .top-nav nav .menu ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 64, ../sass/base.sass */
.top-nav nav .menu ul li {
  margin: 0 1.05em;
}
@media (max-width: 481px) {
  /* line 67, ../sass/base.sass */
  .top-nav nav .menu ul li.developers {
    display: none;
  }
}
@media (min-width: 769px) {
  /* line 64, ../sass/base.sass */
  .top-nav nav .menu ul li {
    margin: 0 0 0 1.05em;
  }
  /* line 70, ../sass/base.sass */
  .top-nav nav .menu ul li.toggle-sidebar {
    display: none;
  }
}
/* line 73, ../sass/base.sass */
.top-nav nav .menu ul li a {
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
/* line 74, ../sass/base.sass */
.touch .top-nav nav .menu ul li a {
  color: #171947;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.touch .top-nav nav .menu ul li a:active {
  color: #ba7f29;
}
/* line 76, ../sass/base.sass */
.no-touch .top-nav nav .menu ul li a {
  color: #171947;
}
/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.no-touch .top-nav nav .menu ul li a:hover {
  color: #434cd3;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.no-touch .top-nav nav .menu ul li a:active {
  color: #ba7f29;
}
/* line 80, ../sass/base.sass */
.top-nav nav .menu ul li:first-child {
  margin: 0 1.05em 0 0;
}
/* line 82, ../sass/base.sass */
.top-nav nav .menu ul li:last-child {
  margin: 0 0 0 1.05em;
}
/* line 84, ../sass/base.sass */
.top-nav nav .menu ul li:only-child {
  margin: 0;
}
/* line 86, ../sass/base.sass */
.top-nav nav .menu ul li .settings {
  background: rgba(39, 47, 165, 0.68);
  color: white;
  padding: 0.5em 1.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: background 0.3s ease-out 0;
  -o-transition: background 0.3s ease-out 0;
  -webkit-transition: background 0.3s ease-out;
  -webkit-transition-delay: 0;
  transition: background 0.3s ease-out 0;
}
/* line 94, ../sass/base.sass */
.no-touch .top-nav nav .menu ul li .settings:hover {
  background: rgba(48, 59, 207, 0.9);
}
/* line 96, ../sass/base.sass */
.top-nav nav .menu ul li .settings:active {
  background: rgba(172, 177, 236, 0.9);
}
/* line 98, ../sass/base.sass */
.top-nav nav .menu ul li .settings .icon-cog {
  font-size: 16px;
}
/* line 100, ../sass/base.sass */
.top-nav nav .menu ul li .settings .text {
  margin-left: 0.6em;
  font-family: "ff-dagny-web-pro";
}
/* line 103, ../sass/base.sass */
.top-nav nav .menu ul li .settings .icon-caret-down {
  margin-left: 0.8em;
}

/* line 110, ../sass/base.sass */
#full-layout {
  position: relative;
  padding-top: 58px;
  z-index: 1;
}

/* line 115, ../sass/base.sass */
.create-account {
  margin-top: 1em;
}
/* line 117, ../sass/base.sass */
.create-account a {
  cursor: pointer;
}

@media (min-width: 769px) {
  /* line 130, ../sass/base.sass */
  #layout {
    padding-left: 472px;
    position: relative;
    padding-top: 58px;
    z-index: 1;
  }

  /* line 136, ../sass/base.sass */
  #sidebar, #list {
    position: fixed;
    top: 58px;
    bottom: 0;
    overflow: auto;
  }

  /* line 142, ../sass/base.sass */
  #sidebar {
    margin-left: -472px;
    width: 220px;
    text-align: center;
    padding: 2em 0;
  }

  /* line 148, ../sass/base.sass */
  #list {
    width: 252px;
    border-right: 1px solid #dddddd;
  }

  /* line 152, ../sass/base.sass */
  #content {
    margin-left: -252px;
  }

  /* line 155, ../sass/base.sass */
  #main {
    margin-left: 252px;
  }
}
/* line 162, ../sass/base.sass */
#sidebar {
  background: #252a3a;
}
@media (max-width: 768px) {
  /* line 164, ../sass/base.sass */
  #sidebar .nav-inner {
    padding-top: 58px;
  }
}
/* line 167, ../sass/base.sass */
#sidebar .menu {
  background: transparent;
  border: none;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 769px) {
  /* line 167, ../sass/base.sass */
  #sidebar .menu {
    margin-left: -10px;
  }
}
/* line 177, ../sass/base.sass */
#sidebar .menu li {
  cursor: pointer;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  /* line 177, ../sass/base.sass */
  #sidebar .menu li {
    padding: 0.8em 2em;
  }
}
@media (min-width: 769px) {
  /* line 177, ../sass/base.sass */
  #sidebar .menu li {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
  }
}
/* line 187, ../sass/base.sass */
.no-touch #sidebar .menu li:hover, .no-touch #sidebar .menu li:focus {
  background: #373c5a;
  color: white;
}
/* line 190, ../sass/base.sass */
#sidebar .menu li:active {
  background: #3e4465;
}
@media (max-width: 768px) {
  /* line 192, ../sass/base.sass */
  #sidebar .menu li .title, #sidebar .menu li .icon {
    display: inline-block;
  }
}
/* line 195, ../sass/base.sass */
#sidebar .menu li .title {
  text-align: left;
  padding-left: 0;
}
@media (max-width: 768px) {
  /* line 195, ../sass/base.sass */
  #sidebar .menu li .title {
    font-size: 120%;
    margin-top: 0.2em;
  }
}
/* line 201, ../sass/base.sass */
#sidebar .menu li .icon {
  color: rgba(255, 255, 255, 0.8);
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 201, ../sass/base.sass */
  #sidebar .menu li .icon {
    font-size: 150%;
  }
}
@media (min-width: 769px) {
  /* line 201, ../sass/base.sass */
  #sidebar .menu li .icon {
    font-size: 130%;
  }
}

/* line 214, ../sass/base.sass */
.white-popup {
  position: relative;
  background: white;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
/* line 221, ../sass/base.sass */
.white-popup .create-button {
  margin-bottom: 0;
}
/* line 223, ../sass/base.sass */
.white-popup .title {
  margin-top: 0.5em;
  text-align: center;
}
/* line 226, ../sass/base.sass */
.white-popup label.align-top {
  margin-top: 0.4em;
}
/* line 228, ../sass/base.sass */
.white-popup .web-toggle {
  display: none;
}
/* line 230, ../sass/base.sass */
.white-popup .btn-file {
  position: relative;
  overflow: hidden;
}
/* line 233, ../sass/base.sass */
.white-popup .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/* line 246, ../sass/base.sass */
.white-popup .form-control {
  cursor: default;
}

/* line 250, ../sass/base.sass */
.popover-content .title {
  text-align: center;
}
