/* line 8, ../sass/main.sass */
#nav .menu {
  background: transparent;
  border: none;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-left: -10px;
}
/* line 17, ../sass/main.sass */
#nav .menu li {
  cursor: pointer;
  padding-top: 0.7em;
  padding-bottom: 0.2em;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
/* line 23, ../sass/main.sass */
#nav .menu li:hover, #nav .menu li:focus {
  background: #373c5a;
  color: white;
}
/* line 26, ../sass/main.sass */
#nav .menu li:active {
  background: #3e4465;
}
/* line 28, ../sass/main.sass */
#nav .menu li .title {
  text-align: left;
  padding-left: 0;
}
/* line 31, ../sass/main.sass */
#nav .menu li .icon {
  color: rgba(255, 255, 255, 0.8);
  color: white;
  font-size: 130%;
  text-align: center;
}

/* line 37, ../sass/main.sass */
#list .item {
  padding: 0.9em 1.4em 0.9em 1.2em;
  border-bottom: 1px solid #dddddd;
}
/* line 40, ../sass/main.sass */
#list .item .info {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
}
/* line 44, ../sass/main.sass */
#list .item, #list #new-integration {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* line 47, ../sass/main.sass */
#list .item:hover, #list .item:focus, #list #new-integration:hover, #list #new-integration:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjZWFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7e9ff), color-stop(100%, #cceaff));
  background-image: -webkit-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: -moz-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: -o-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
}
/* line 49, ../sass/main.sass */
#list .item:hover .title, #list .item:focus .title, #list #new-integration:hover .title, #list #new-integration:focus .title {
  color: #444444;
}
/* line 51, ../sass/main.sass */
#list .item:hover .url, #list .item:focus .url, #list #new-integration:hover .url, #list #new-integration:focus .url {
  color: black;
}
/* line 53, ../sass/main.sass */
#list .item:active, #list #new-integration:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0ZDhmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5ZDhmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94d8ff), color-stop(100%, #99d8ff));
  background-image: -webkit-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: -moz-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: -o-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
}
/* line 55, ../sass/main.sass */
#list .new-item {
  height: 40px;
}
/* line 57, ../sass/main.sass */
#list .avatar {
  margin-top: 0.1em;
  margin-left: -15px;
  margin-right: 15px;
}
/* line 61, ../sass/main.sass */
#list .title, #list .url {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 66, ../sass/main.sass */
#list .title {
  color: #555555;
}
/* line 68, ../sass/main.sass */
#list .url {
  color: #999999;
}
/* line 70, ../sass/main.sass */
#list .item-selected {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZThmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZDZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ece8f2), color-stop(100%, #e7d6ff));
  background-image: -webkit-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: -moz-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: -o-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
}
/* line 72, ../sass/main.sass */
#list .item-selected:hover, #list .item-selected:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZDlmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwYzdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4d9f2), color-stop(100%, #e0c7ff));
  background-image: -webkit-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: -moz-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: -o-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
}
/* line 74, ../sass/main.sass */
#list .item-selected:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyYmZlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QwYTNmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2bfe8), color-stop(100%, #d0a3ff));
  background-image: -webkit-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: -moz-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: -o-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
}
/* line 77, ../sass/main.sass */
#list #triggerNewIntegration .title {
  font-style: italic;
  font-weight: normal;
  margin-top: 3px;
}
/* line 81, ../sass/main.sass */
#list #triggerNewIntegration i {
  font-size: 130%;
  margin-left: -7px;
  color: #0052a3;
}

/* line 87, ../sass/main.sass */
#main .devel-content-header, #main .devel-content-body, #main .devel-content-footer {
  padding: 1em 2em;
}
/* line 90, ../sass/main.sass */
#main .devel-content-header {
  border-bottom: 1px solid #dddddd;
}
/* line 92, ../sass/main.sass */
#main .devel-content-header .title {
  margin: 0.5em 0 0;
}
/* line 94, ../sass/main.sass */
#main .devel-content-header .title span {
  display: inline-block;
}
/* line 96, ../sass/main.sass */
#main .devel-content-header .settings-menu {
  margin-top: -0.8em;
}
/* line 98, ../sass/main.sass */
#main .devel-content-header .specs {
  margin-top: 2.5em;
}
/* line 100, ../sass/main.sass */
#main .devel-content-header .specs td {
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}
/* line 103, ../sass/main.sass */
#main .devel-content-header .specs td.name {
  font-weight: bolder;
}
/* line 105, ../sass/main.sass */
#main .devel-content-header .specs a.action {
  text-decoration: underline;
  color: #e17714;
}
/* line 108, ../sass/main.sass */
#main .devel-content-header .specs a.action:hover, #main .devel-content-header .specs a.action:focus {
  color: #ff9633;
}
/* line 110, ../sass/main.sass */
#main .devel-content-header .specs a.action:active {
  color: #ffca99;
}
/* line 112, ../sass/main.sass */
#main .devel-content-header .specs .secret {
  display: none;
}
/* line 115, ../sass/main.sass */
#main .devel-content-header .specs .status span.label, #main .devel-content-header .specs .status .action-button {
  margin: 0 0.5em;
}
/* line 118, ../sass/main.sass */
#main .devel-content-header .specs .status span.label:first-child, #main .devel-content-header .specs .status .action-button:first-child {
  margin: 0 0.5em 0 0;
}
/* line 120, ../sass/main.sass */
#main .devel-content-header .specs .status span.label:last-child, #main .devel-content-header .specs .status .action-button:last-child {
  margin: 0 0 0 0.5em;
}
/* line 122, ../sass/main.sass */
#main .devel-content-header .specs .status span.label:only-child, #main .devel-content-header .specs .status .action-button:only-child {
  margin: 0;
}
/* line 124, ../sass/main.sass */
#main .devel-content-header .specs .status span.label {
  font-size: 0.9em;
}

/* line 128, ../sass/main.sass */
.popover-content .title {
  text-align: center;
}
