/* line 1, ../sass/_extensions.sass */
span.space {
  margin: 0 0.5em;
}

/* line 4, ../sass/_extensions.sass */
.action-button i {
  margin-right: 0.5em;
}

/* line 4, ../sass/main.sass */
#list .item {
  padding: 0.9em 1.4em 0.9em 1.2em;
  border-bottom: 1px solid #dddddd;
}
/* line 7, ../sass/main.sass */
#list .item .info {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
}
/* line 11, ../sass/main.sass */
#list .item, #list #new-integration {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* line 14, ../sass/main.sass */
#list .item:hover, #list .item:focus, #list #new-integration:hover, #list #new-integration:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjZWFmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7e9ff), color-stop(100%, #cceaff));
  background-image: -webkit-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: -moz-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: -o-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
}
/* line 16, ../sass/main.sass */
#list .item:hover .title, #list .item:focus .title, #list #new-integration:hover .title, #list #new-integration:focus .title {
  color: #444444;
}
/* line 18, ../sass/main.sass */
#list .item:hover .url, #list .item:focus .url, #list #new-integration:hover .url, #list #new-integration:focus .url {
  color: black;
}
/* line 20, ../sass/main.sass */
#list .item:active, #list #new-integration:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0ZDhmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5ZDhmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94d8ff), color-stop(100%, #99d8ff));
  background-image: -webkit-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: -moz-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: -o-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
}
/* line 22, ../sass/main.sass */
#list .new-item {
  height: 40px;
}
/* line 24, ../sass/main.sass */
#list .avatar {
  margin-top: 0.1em;
  margin-left: -15px;
  margin-right: 15px;
}
/* line 28, ../sass/main.sass */
#list .title, #list .url {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 33, ../sass/main.sass */
#list .title {
  color: #555555;
}
/* line 35, ../sass/main.sass */
#list .url {
  color: #999999;
}
/* line 37, ../sass/main.sass */
#list .item-selected {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZThmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZDZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ece8f2), color-stop(100%, #e7d6ff));
  background-image: -webkit-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: -moz-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: -o-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
}
/* line 39, ../sass/main.sass */
#list .item-selected:hover, #list .item-selected:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZDlmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwYzdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4d9f2), color-stop(100%, #e0c7ff));
  background-image: -webkit-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: -moz-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: -o-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
}
/* line 41, ../sass/main.sass */
#list .item-selected:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyYmZlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QwYTNmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2bfe8), color-stop(100%, #d0a3ff));
  background-image: -webkit-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: -moz-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: -o-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
}
/* line 44, ../sass/main.sass */
#list #triggerNewIntegration .title {
  font-style: italic;
  font-weight: normal;
  margin-top: 3px;
}
/* line 48, ../sass/main.sass */
#list #triggerNewIntegration i {
  font-size: 130%;
  margin-left: -7px;
  color: #0052a3;
}

/* line 54, ../sass/main.sass */
#main .devel-content-header, #main .devel-content-body, #main .devel-content-footer {
  padding: 1em 2em;
}
/* line 57, ../sass/main.sass */
#main .devel-content-header {
  border-bottom: 1px solid #dddddd;
}
/* line 59, ../sass/main.sass */
#main .devel-content-header .title {
  margin: 0.5em 0 0;
}
/* line 61, ../sass/main.sass */
#main .devel-content-header .title span {
  display: inline-block;
}
/* line 63, ../sass/main.sass */
#main .devel-content-header .settings-menu {
  margin-top: -0.8em;
}
/* line 65, ../sass/main.sass */
#main .devel-content-header .specs {
  margin-top: 2.5em;
}
/* line 67, ../sass/main.sass */
#main .devel-content-header .specs td {
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}
/* line 70, ../sass/main.sass */
#main .devel-content-header .specs td.name {
  font-weight: bolder;
}
/* line 72, ../sass/main.sass */
#main .devel-content-header .specs a.action {
  text-decoration: underline;
  color: #e17714;
}
/* line 75, ../sass/main.sass */
#main .devel-content-header .specs a.action:hover, #main .devel-content-header .specs a.action:focus {
  color: #ff9633;
}
/* line 77, ../sass/main.sass */
#main .devel-content-header .specs a.action:active {
  color: #ffca99;
}
/* line 79, ../sass/main.sass */
#main .devel-content-header .specs .secret {
  display: none;
}
/* line 82, ../sass/main.sass */
#main .devel-content-header .specs .status span.label, #main .devel-content-header .specs .status .action-button {
  margin: 0 0.5em;
}
/* line 85, ../sass/main.sass */
#main .devel-content-header .specs .status span.label:first-child, #main .devel-content-header .specs .status .action-button:first-child {
  margin: 0 0.5em 0 0;
}
/* line 87, ../sass/main.sass */
#main .devel-content-header .specs .status span.label:last-child, #main .devel-content-header .specs .status .action-button:last-child {
  margin: 0 0 0 0.5em;
}
/* line 89, ../sass/main.sass */
#main .devel-content-header .specs .status span.label:only-child, #main .devel-content-header .specs .status .action-button:only-child {
  margin: 0;
}
/* line 91, ../sass/main.sass */
#main .devel-content-header .specs .status span.label {
  font-size: 0.9em;
}

/* line 94, ../sass/main.sass */
#applications {
  margin: 3em 2em 2em;
}
/* line 96, ../sass/main.sass */
#applications #cards-container {
  perspective: 1000;
  margin-top: 2em;
}
@media (max-width: 624px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 47.99%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 4%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 47.99%;
  }
  /* line 101, ../sass/main.sass */
  #applications #cards-container .card {
    margin-bottom: 1em;
  }
}
@media (min-width: 625px) and (max-width: 768px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 29.99%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 5%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 29.99%;
  }
}
@media (min-width: 769px) and (max-width: 844px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 47.49%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 5%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 47.49%;
  }
}
@media (min-width: 845px) and (max-width: 1159px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 29.99%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 5%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 29.99%;
  }
}
@media (min-width: 1160px) and (max-width: 1459px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 21.99%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 4%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 21.99%;
  }
}
@media (min-width: 1500px) and (max-width: 1764px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 17.59%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 3%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 17.59%;
  }
}
@media (min-width: 1765px) {
  /* line 20, ../sass/_helpers.sass */
  #applications #cards-container .grid-column {
    width: 14.99%;
  }
  /* line 22, ../sass/_helpers.sass */
  #applications #cards-container .grid-gutter {
    width: 2%;
  }
  /* line 24, ../sass/_helpers.sass */
  #applications #cards-container .card {
    width: 14.99%;
  }
}
/* line 115, ../sass/main.sass */
#applications #cards-container .card {
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 2em;
}
/* line 119, ../sass/main.sass */
#applications #cards-container .flipper {
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 124, ../sass/main.sass */
#applications #cards-container .front, #applications #cards-container .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 129, ../sass/main.sass */
#applications #cards-container .card, #applications #cards-container .front, #applications #cards-container .back {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 131, ../sass/main.sass */
#applications #cards-container .front {
  z-index: 2;
  background: #dddddd;
}
/* line 135, ../sass/main.sass */
#applications #cards-container .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #555555;
}
/* line 139, ../sass/main.sass */
#applications #cards-container .flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 141, ../sass/main.sass */
#applications #cards-container .card-content {
  padding: 1em;
  position: absolute;
  bottom: 0;
}
