/* line 13, ../sass/_type.sass */
h1, h2, h3 {
  font-family: "adelle";
  color: #3d418f;
}

/* line 6, ../sass/main.sass */
#nav .pure-menu {
  background: transparent;
  border: none;
  text-align: left;
}
/* line 10, ../sass/main.sass */
#nav .pure-menu a {
  color: white;
  margin-left: 0;
}
/* line 11, ../sass/main.sass */
#nav .pure-menu a:hover, #nav .pure-menu a:focus {
  background: #373c5a;
}
/* line 15, ../sass/main.sass */
#nav .pure-menu a .title {
  color: white;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 0.5em;
}
/* line 19, ../sass/main.sass */
#nav .pure-menu a .icon {
  font-size: 120%;
  text-align: center;
}

/* line 24, ../sass/main.sass */
#list .item {
  padding: 0.9em 1.4em 0.9em 1.2em;
  border-bottom: 1px solid #dddddd;
}
/* line 27, ../sass/main.sass */
#list .item:hover {
  background: #4da1ef;
  background: rgba(77, 161, 239, 0.3);
}
/* line 30, ../sass/main.sass */
#list .item .info {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
}
/* line 34, ../sass/main.sass */
#list .new-item {
  height: 40px;
}
/* line 37, ../sass/main.sass */
#list .avatar {
  margin-top: 0.2em;
}
/* line 40, ../sass/main.sass */
#list .title, #list .url {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 46, ../sass/main.sass */
#list .title {
  color: #555555;
}
/* line 49, ../sass/main.sass */
#list .url {
  color: #999999;
}
/* line 52, ../sass/main.sass */
#list .item-selected {
  background: #eeeeee;
}

/* line 57, ../sass/main.sass */
#main .devel-content-header, #main .devel-content-body, #main .devel-content-footer {
  padding: 1em 2em;
}
/* line 60, ../sass/main.sass */
#main .devel-content-header {
  border-bottom: 1px solid #dddddd;
}
/* line 69, ../sass/main.sass */
#main .devel-content-header .title {
  margin: 0.5em 0 0;
}
/* line 71, ../sass/main.sass */
#main .devel-content-header .specs {
  margin-top: 1em;
}
/* line 73, ../sass/main.sass */
#main .devel-content-header .specs td {
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}
/* line 76, ../sass/main.sass */
#main .devel-content-header .specs td.name {
  font-weight: bolder;
}
/* line 78, ../sass/main.sass */
#main .devel-content-header .specs a.action {
  text-decoration: underline;
  color: #e17714;
}
/* line 81, ../sass/main.sass */
#main .devel-content-header .specs button {
  margin: 0 0.5em;
}
/* line 84, ../sass/main.sass */
#main .devel-content-header .specs button:first-child {
  margin: 0 0.5em 0 0;
}
/* line 86, ../sass/main.sass */
#main .devel-content-header .specs button:last-child {
  margin: 0 0 0 0.5em;
}
/* line 88, ../sass/main.sass */
#main .devel-content-header .specs button:only-child {
  margin: 0;
}
