@font-face {
  font-family: "tok3n-dashboard";
  src: url("fonts/tok3n-dashboard.eot");
  src: url("fonts/tok3n-dashboard.eot?#iefix") format("embedded-opentype"), url("fonts/tok3n-dashboard.woff") format("woff"), url("fonts/tok3n-dashboard.ttf") format("truetype"), url("fonts/tok3n-dashboard.svg#tok3n-dashboard") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/_tok3n-dashboard-font.scss */
[data-icon]:before {
  font-family: "tok3n-dashboard" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/_tok3n-dashboard-font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tok3n-dashboard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-otp-phone:before {
  content: "a";
}

/* line 44, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-phone-line:before {
  content: "b";
}

/* line 47, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-backup-code:before {
  content: "c";
}

/* line 50, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-authorized-apps:before {
  content: "d";
}

/* line 53, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-integrations:before {
  content: "e";
}

/* line 56, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-settings:before {
  content: "f";
}

/* line 59, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-landline:before {
  content: "g";
}

/* line 62, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-cellphone:before {
  content: "h";
}

/* line 65, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-plus-sign:before {
  content: "i";
}

/* line 68, ../sass/_tok3n-dashboard-font.scss */
.icon-tok3n-gear:before {
  content: "j";
}

/* line 1, ../sass/_extensions.sass */
span.space {
  margin: 0 0.5em;
}

/* line 4, ../sass/_extensions.sass */
.action-button i {
  margin-right: 0.5em;
}

/* line 7, ../sass/_extensions.sass */
.tok3n-sidebar .menu {
  -moz-transition: max-height 0.5s ease-in-out 0;
  -o-transition: max-height 0.5s ease-in-out 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  -webkit-transition-delay: 0;
  transition: max-height 0.5s ease-in-out 0;
  transition-delay: 0s !important;
}
/* line 10, ../sass/_extensions.sass */
.tok3n-sidebar .collapsed.menu {
  max-height: 0;
  overflow: hidden;
}

/* line 7, ../sass/base.sass */
body {
  font-family: "ff-dagny-web-pro";
  color: #333333;
  font-size: 145%;
}
/* line 12, ../sass/base.sass */
body a {
  color: #434cd3;
}
/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #636bd4;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #ba7f29;
}

/* line 15, ../sass/base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "adelle";
  color: #3d418f;
}

/* line 19, ../sass/base.sass */
a {
  text-decoration: none;
  color: #1b98f8;
}

/* line 34, ../sass/base.sass */
.tok3n-top {
  position: relative;
  z-index: 1000;
}

/* line 38, ../sass/base.sass */
.tok3n-top-nav {
  -moz-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  -webkit-box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  box-shadow: inset 0 -12px 30px 0 rgba(23, 13, 38, 0.15);
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  letter-spacing: normal;
  border-bottom: 1px solid #411485;
  border-bottom: 1px solid rgba(65, 20, 133, 0.3);
}
@media (min-width: 769px) {
  /* line 38, ../sass/base.sass */
  .tok3n-top-nav {
    position: fixed;
  }
}
/* line 48, ../sass/base.sass */
.tok3n-top-nav .nav-wrap {
  padding: 0 1.9em;
}
/* line 52, ../sass/base.sass */
.tok3n-top-nav header .logo {
  margin: 0.61em 0;
  height: 40px;
  width: 111px;
  background-image: url('../img/logo.png?1376272590');
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 52, ../sass/base.sass */
  .tok3n-top-nav header .logo {
    background-image: url('../img/logo_hd.png?1376272590');
    background-size: 111px 40px;
  }
}
/* line 58, ../sass/base.sass */
.tok3n-top-nav nav {
  margin-top: 13px;
}
/* line 60, ../sass/base.sass */
.tok3n-top-nav nav .menu {
  text-align: right;
  margin-right: 1em;
}
/* line 63, ../sass/base.sass */
.tok3n-top-nav nav .menu ul {
  list-style-type: none;
}
/* line 6, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/lists/_inline-list.scss */
.tok3n-top-nav nav .menu ul, .tok3n-top-nav nav .menu ul li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 65, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li {
  margin: 0 1.05em;
}
@media (max-width: 481px) {
  /* line 68, ../sass/base.sass */
  .tok3n-top-nav nav .menu ul li.developers {
    display: none;
  }
}
@media (min-width: 769px) {
  /* line 65, ../sass/base.sass */
  .tok3n-top-nav nav .menu ul li {
    margin: 0 0 0 1.05em;
  }
  /* line 71, ../sass/base.sass */
  .tok3n-top-nav nav .menu ul li.toggle-sidebar {
    display: none;
  }
}
/* line 74, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li a {
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
/* line 75, ../sass/base.sass */
.touch .tok3n-top-nav nav .menu ul li a {
  color: #171947;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_link-colors.scss */
.touch .tok3n-top-nav nav .menu ul li a:active {
  color: #ba7f29;
}
/* line 77, ../sass/base.sass */
.no-touch .tok3n-top-nav nav .menu ul li a {
  color: #171947;
}
/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_link-colors.scss */
.no-touch .tok3n-top-nav nav .menu ul li a:hover {
  color: #434cd3;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/typography/links/_link-colors.scss */
.no-touch .tok3n-top-nav nav .menu ul li a:active {
  color: #ba7f29;
}
/* line 81, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li:first-child {
  margin: 0 1.05em 0 0;
}
/* line 83, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li:last-child {
  margin: 0 0 0 1.05em;
}
/* line 85, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li:only-child {
  margin: 0;
}
/* line 87, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li .settings {
  background: rgba(39, 47, 165, 0.68);
  color: white;
  padding: 0.5em 1.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: background 0.3s ease-out 0;
  -o-transition: background 0.3s ease-out 0;
  -webkit-transition: background 0.3s ease-out;
  -webkit-transition-delay: 0;
  transition: background 0.3s ease-out 0;
}
/* line 95, ../sass/base.sass */
.no-touch .tok3n-top-nav nav .menu ul li .settings:hover {
  background: rgba(48, 59, 207, 0.9);
}
/* line 97, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li .settings:active {
  background: rgba(172, 177, 236, 0.9);
}
/* line 99, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li .settings .icon-cog {
  font-size: 16px;
}
/* line 101, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li .settings .text {
  margin-left: 0.6em;
  font-family: "ff-dagny-web-pro";
}
/* line 104, ../sass/base.sass */
.tok3n-top-nav nav .menu ul li .settings .icon-caret-down {
  margin-left: 0.8em;
}

@media (min-width: 769px) {
  /* line 116, ../sass/base.sass */
  .tok3n-layout {
    padding-left: 472px;
    position: relative;
    padding-top: 58px;
    z-index: 1;
  }

  /* line 122, ../sass/base.sass */
  .tok3n-sidebar, .tok3n-main-list {
    position: fixed;
    bottom: 0;
    overflow: auto;
  }

  /* line 127, ../sass/base.sass */
  .tok3n-main-list {
    top: 0;
  }

  /* line 130, ../sass/base.sass */
  .tok3n-sidebar {
    margin-left: -472px;
    width: 220px;
    top: 58px;
    text-align: center;
    padding: 2em 0;
  }

  /* line 137, ../sass/base.sass */
  .tok3n-main-list {
    width: 252px;
    border-right: 1px solid #dddddd;
  }

  /* line 141, ../sass/base.sass */
  .tok3n-pt-perspective {
    margin-left: -252px;
  }

  /* line 144, ../sass/base.sass */
  .tok3n-main-content {
    margin-left: 252px;
  }
}
@-moz-keyframes rotateCard {
  /* line 2, ../sass/_page-transitions.sass */
  to {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes rotateCard {
  /* line 2, ../sass/_page-transitions.sass */
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes rotateCard {
  /* line 2, ../sass/_page-transitions.sass */
  to {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes rotateCardBack {
  /* line 6, ../sass/_page-transitions.sass */
  from {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes rotateCardBack {
  /* line 6, ../sass/_page-transitions.sass */
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes rotateCardBack {
  /* line 6, ../sass/_page-transitions.sass */
  from {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes moveToLeft {
  /* line 10, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToLeft {
  /* line 10, ../sass/_page-transitions.sass */
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  /* line 10, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes moveFromLeft {
  /* line 14, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeft {
  /* line 14, ../sass/_page-transitions.sass */
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  /* line 14, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes moveToRight {
  /* line 18, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToRight {
  /* line 18, ../sass/_page-transitions.sass */
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveToRight {
  /* line 18, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes moveFromRight {
  /* line 22, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  /* line 22, ../sass/_page-transitions.sass */
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  /* line 22, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* line 25, ../sass/_page-transitions.sass */
.tok3n-pt-perspective {
  position: relative;
  perspective: 1200px;
  overflow: hidden;
}

/* line 30, ../sass/_page-transitions.sass */
.tok3n-pt-page {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 43, ../sass/_page-transitions.sass */
.tok3n-pt-page-current {
  visibility: visible !important;
  z-index: 3;
}

/* line 47, ../sass/_page-transitions.sass */
.tok3n-submit-visible {
  visibility: visible !important;
  z-index: 999;
}

/* line 51, ../sass/_page-transitions.sass */
.tok3n-submit-wrapper {
  z-index: 999;
}

/* line 54, ../sass/_page-transitions.sass */
.tok3n-move-from-left {
  -moz-animation: moveFromLeft;
  -webkit-animation: moveFromLeft;
  animation: moveFromLeft;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 60, ../sass/_page-transitions.sass */
.tok3n-move-to-left {
  -moz-animation: moveToLeft;
  -webkit-animation: moveToLeft;
  animation: moveToLeft;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 66, ../sass/_page-transitions.sass */
.tok3n-move-from-right {
  -moz-animation: moveFromRight;
  -webkit-animation: moveFromRight;
  animation: moveFromRight;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 72, ../sass/_page-transitions.sass */
.tok3n-move-to-right {
  -moz-animation: moveToRight;
  -webkit-animation: moveToRight;
  animation: moveToRight;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 155, ../sass/base.sass */
.tok3n-pt-page {
  width: 100%;
}

/* line 162, ../sass/base.sass */
.tok3n-sidebar {
  background: #252a3a;
}
/* line 164, ../sass/base.sass */
.tok3n-sidebar .menu {
  margin: 0;
  background: transparent;
  border: none;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  max-height: 800px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 769px) {
  /* line 164, ../sass/base.sass */
  .tok3n-sidebar .menu {
    margin-left: -10px;
  }
}
/* line 177, ../sass/base.sass */
.tok3n-sidebar .menu li {
  cursor: pointer;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  /* line 177, ../sass/base.sass */
  .tok3n-sidebar .menu li {
    padding: 0.8em 2em;
  }
}
@media (min-width: 769px) {
  /* line 177, ../sass/base.sass */
  .tok3n-sidebar .menu li {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
  }
}
/* line 187, ../sass/base.sass */
.no-touch .tok3n-sidebar .menu li:hover, .no-touch .tok3n-sidebar .menu li:focus {
  background: #373c5a;
  color: white;
}
/* line 191, ../sass/base.sass */
.no-touch .tok3n-sidebar .menu li.tok3n-sidebar-selected:hover, .no-touch .tok3n-sidebar .menu li.tok3n-sidebar-selected:focus {
  background: #3e4465;
}
/* line 193, ../sass/base.sass */
.tok3n-sidebar .menu li.tok3n-sidebar-selected {
  background: #3e4465;
}
@media (max-width: 768px) {
  /* line 195, ../sass/base.sass */
  .tok3n-sidebar .menu li .title, .tok3n-sidebar .menu li .icon {
    display: inline-block;
  }
}
/* line 198, ../sass/base.sass */
.tok3n-sidebar .menu li .title {
  text-align: left;
  padding-left: 0;
}
@media (max-width: 768px) {
  /* line 198, ../sass/base.sass */
  .tok3n-sidebar .menu li .title {
    font-size: 120%;
    margin-top: 0.2em;
  }
}
/* line 204, ../sass/base.sass */
.tok3n-sidebar .menu li .icon {
  color: rgba(255, 255, 255, 0.8);
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 204, ../sass/base.sass */
  .tok3n-sidebar .menu li .icon {
    font-size: 150%;
  }
}
@media (min-width: 769px) {
  /* line 204, ../sass/base.sass */
  .tok3n-sidebar .menu li .icon {
    font-size: 130%;
  }
}

/* line 217, ../sass/base.sass */
.dropdown-show {
  display: block;
}
