@font-face {
  font-family: "tok3n-dashboard";
  src: url("fonts/tok3n-dashboard.eot");
  src: url("fonts/tok3n-dashboard.eot?#iefix") format("embedded-opentype"), url("fonts/tok3n-dashboard.woff") format("woff"), url("fonts/tok3n-dashboard.ttf") format("truetype"), url("fonts/tok3n-dashboard.svg#tok3n-dashboard") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/_tok3n-font.scss */
[data-icon]:before {
  font-family: "tok3n-dashboard" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/_tok3n-font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tok3n-dashboard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/_tok3n-font.scss */
.icon-tok3n-phone-line:before {
  content: "b";
}

/* line 44, ../sass/_tok3n-font.scss */
.icon-tok3n-backup-code:before {
  content: "c";
}

/* line 47, ../sass/_tok3n-font.scss */
.icon-tok3n-authorized-apps:before {
  content: "d";
}

/* line 50, ../sass/_tok3n-font.scss */
.icon-tok3n-integrations:before {
  content: "e";
}

/* line 53, ../sass/_tok3n-font.scss */
.icon-tok3n-settings:before {
  content: "f";
}

/* line 56, ../sass/_tok3n-font.scss */
.icon-tok3n-landline:before {
  content: "g";
}

/* line 59, ../sass/_tok3n-font.scss */
.icon-tok3n-cellphone:before {
  content: "h";
}

/* line 62, ../sass/_tok3n-font.scss */
.icon-tok3n-gear:before {
  content: "j";
}

/* line 65, ../sass/_tok3n-font.scss */
.icon-tok3n-text-bubble:before {
  content: "k";
}

/* line 68, ../sass/_tok3n-font.scss */
.icon-tok3n-arrow:before {
  content: "i";
}

/* line 71, ../sass/_tok3n-font.scss */
.icon-tok3n-qrcode:before {
  content: "l";
}

/* line 74, ../sass/_tok3n-font.scss */
.icon-tok3n-logo:before {
  content: "m";
}

/* line 77, ../sass/_tok3n-font.scss */
.icon-tok3n-otp:before {
  content: "n";
}

/* line 80, ../sass/_tok3n-font.scss */
.icon-tok3n-bubble:before {
  content: "o";
}

/* line 83, ../sass/_tok3n-font.scss */
.icon-tok3n-stripe:before {
  content: "p";
}

/* line 86, ../sass/_tok3n-font.scss */
.icon-tok3n-phone:before {
  content: "q";
}

/* line 89, ../sass/_tok3n-font.scss */
.icon-tok3n-menu:before {
  content: "a";
}

/* line 92, ../sass/_tok3n-font.scss */
.icon-tok3n-flip:before {
  content: "r";
}

/* line 1, ../sass/_extensions.sass */
span.space {
  margin: 0 0.5em;
}

/* line 4, ../sass/_extensions.sass */
.action-button i {
  margin-right: 0.5em;
}

/* line 7, ../sass/_extensions.sass */
.tok3n-new-integration-callback-url {
  -moz-transition: max-height 0.5s ease-in-out 0;
  -o-transition: max-height 0.5s ease-in-out 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  -webkit-transition-delay: 0;
  transition: max-height 0.5s ease-in-out 0;
  transition-delay: 0s !important;
}
/* line 10, ../sass/_extensions.sass */
.collapsed.tok3n-new-integration-callback-url {
  max-height: 0;
  overflow: hidden;
}

@-moz-keyframes rotateCard {
  /* line 2, ../sass/_page-transitions.sass */
  to {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes rotateCard {
  /* line 2, ../sass/_page-transitions.sass */
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes rotateCard {
  /* line 2, ../sass/_page-transitions.sass */
  to {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes rotateCardBack {
  /* line 6, ../sass/_page-transitions.sass */
  from {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes rotateCardBack {
  /* line 6, ../sass/_page-transitions.sass */
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes rotateCardBack {
  /* line 6, ../sass/_page-transitions.sass */
  from {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes moveToLeft {
  /* line 10, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToLeft {
  /* line 10, ../sass/_page-transitions.sass */
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  /* line 10, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes moveFromLeft {
  /* line 14, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeft {
  /* line 14, ../sass/_page-transitions.sass */
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  /* line 14, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes moveToRight {
  /* line 18, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToRight {
  /* line 18, ../sass/_page-transitions.sass */
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveToRight {
  /* line 18, ../sass/_page-transitions.sass */
  to {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes moveFromRight {
  /* line 22, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  /* line 22, ../sass/_page-transitions.sass */
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  /* line 22, ../sass/_page-transitions.sass */
  from {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* line 25, ../sass/_page-transitions.sass */
.tok3n-pt-perspective {
  position: relative;
  perspective: 1200px;
  overflow: hidden;
}

/* line 30, ../sass/_page-transitions.sass */
.tok3n-pt-page {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 43, ../sass/_page-transitions.sass */
.tok3n-pt-page-current {
  visibility: visible !important;
  z-index: 3;
}

/* line 47, ../sass/_page-transitions.sass */
.tok3n-submit-visible {
  visibility: visible !important;
  z-index: 999;
}

/* line 51, ../sass/_page-transitions.sass */
.tok3n-submit-wrapper {
  z-index: 999;
}

/* line 54, ../sass/_page-transitions.sass */
.tok3n-move-from-left {
  -moz-animation: moveFromLeft;
  -webkit-animation: moveFromLeft;
  animation: moveFromLeft;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 60, ../sass/_page-transitions.sass */
.tok3n-move-to-left {
  -moz-animation: moveToLeft;
  -webkit-animation: moveToLeft;
  animation: moveToLeft;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 66, ../sass/_page-transitions.sass */
.tok3n-move-from-right {
  -moz-animation: moveFromRight;
  -webkit-animation: moveFromRight;
  animation: moveFromRight;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* line 72, ../sass/_page-transitions.sass */
.tok3n-move-to-right {
  -moz-animation: moveToRight;
  -webkit-animation: moveToRight;
  animation: moveToRight;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-moz-keyframes spin {
  /* line 4, ../sass/_css-spinner.sass */
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  /* line 4, ../sass/_css-spinner.sass */
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  /* line 4, ../sass/_css-spinner.sass */
  to {
    transform: rotate(1turn);
  }
}
/* line 8, ../sass/_css-spinner.sass */
.tok3n-progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 0.5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}
/* line 19, ../sass/_css-spinner.sass */
.tok3n-progress:before, .tok3n-progress:after, .tok3n-progress > div:before, .tok3n-progress > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2.25em;
  width: 0.5em;
  height: 1.5em;
  border-radius: 0.2em;
  background: #eeeeee;
  box-shadow: 0 3.5em #eeeeee;
  transform-origin: 50% 2.5em;
}
/* line 34, ../sass/_css-spinner.sass */
.tok3n-progress:before {
  background: #555555;
}
/* line 37, ../sass/_css-spinner.sass */
.tok3n-progress:after {
  transform: rotate(-45deg);
  background: #777777;
}
/* line 41, ../sass/_css-spinner.sass */
.tok3n-progress > div:before {
  transform: rotate(-90deg);
  background: #999999;
}
/* line 45, ../sass/_css-spinner.sass */
.tok3n-progress > div:after {
  transform: rotate(-135deg);
  background: #bbbbbb;
}

@-moz-keyframes flash {
  /* line 16, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  0% {
    opacity: 1;
  }

  /* line 19, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  25% {
    opacity: 0;
  }

  /* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  50% {
    opacity: 1;
  }

  /* line 25, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  75% {
    opacity: 0;
  }

  /* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  /* line 16, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  0% {
    opacity: 1;
  }

  /* line 19, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  25% {
    opacity: 0;
  }

  /* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  50% {
    opacity: 1;
  }

  /* line 25, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  75% {
    opacity: 0;
  }

  /* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  /* line 16, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  0% {
    opacity: 1;
  }

  /* line 19, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  25% {
    opacity: 0;
  }

  /* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  50% {
    opacity: 1;
  }

  /* line 25, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  75% {
    opacity: 0;
  }

  /* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/attention/_flash.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/fade/_fadeIn.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/fade/_fadeIn.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/fade/_fadeIn.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/fade/_fadeIn.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  /* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/fade/_fadeIn.scss */
  0% {
    opacity: 0;
  }

  /* line 21, ../../../../../.rvm/gems/ruby-2.0.0-p247@tok3n-webapp/gems/animate-0.2.beta.0/stylesheets/animate/fade/_fadeIn.scss */
  100% {
    opacity: 1;
  }
}
/* line 17, ../sass/main.sass */
.tok3n-login-alert {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 15px 30px;
}
/* line 20, ../sass/main.sass */
.tok3n-login-alert b {
  margin-right: 0.5em;
}

/* line 23, ../sass/main.sass */
.tok3n-login-alert-hidden {
  max-height: 0;
  padding: 0 30px;
  border: 0;
  margin: 0;
  overflow: hidden;
}

/* line 31, ../sass/main.sass */
.tok3n-login-alert-active {
  -moz-animation: flash;
  -webkit-animation: flash;
  animation: flash;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media (max-width: 768px) {
  /* line 41, ../sass/main.sass */
  .tok3n-full-layout {
    margin: 3em 2em 2em;
  }
}
@media (min-width: 769px) {
  /* line 41, ../sass/main.sass */
  .tok3n-full-layout {
    margin: 3em 3em 2em 4em;
  }
}

/* line 51, ../sass/main.sass */
.tok3n-main-list {
  padding: 0 15px;
}
/* line 53, ../sass/main.sass */
.tok3n-main-list .item {
  padding: 0.9em 1.4em 0.9em 1.2em;
  border-bottom: 1px solid #dddddd;
}
/* line 56, ../sass/main.sass */
.tok3n-main-list .item .info {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
}
/* line 60, ../sass/main.sass */
.tok3n-main-list .item, .tok3n-main-list #new-integration {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* line 64, ../sass/main.sass */
.no-touch .tok3n-main-list .item:hover, .no-touch .tok3n-main-list .item:focus, .no-touch .tok3n-main-list #new-integration:hover, .no-touch .tok3n-main-list #new-integration:focus {
  background-image: -moz-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: -o-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: -webkit-linear-gradient(top, #c7e9ff 0%, #cceaff 100%);
  background-image: linear-gradient(to bottom, #c7e9ff 0%, #cceaff 100%);
}
/* line 66, ../sass/main.sass */
.no-touch .tok3n-main-list .item:hover .title, .no-touch .tok3n-main-list .item:focus .title, .no-touch .tok3n-main-list #new-integration:hover .title, .no-touch .tok3n-main-list #new-integration:focus .title {
  color: #444444;
}
/* line 68, ../sass/main.sass */
.no-touch .tok3n-main-list .item:hover .url, .no-touch .tok3n-main-list .item:hover .description, .no-touch .tok3n-main-list .item:focus .url, .no-touch .tok3n-main-list .item:focus .description, .no-touch .tok3n-main-list #new-integration:hover .url, .no-touch .tok3n-main-list #new-integration:hover .description, .no-touch .tok3n-main-list #new-integration:focus .url, .no-touch .tok3n-main-list #new-integration:focus .description {
  color: black;
}
/* line 70, ../sass/main.sass */
.tok3n-main-list .item:active, .tok3n-main-list #new-integration:active {
  background-image: -moz-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: -o-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: -webkit-linear-gradient(top, #94d8ff 0%, #99d8ff 100%);
  background-image: linear-gradient(to bottom, #94d8ff 0%, #99d8ff 100%);
}
/* line 72, ../sass/main.sass */
.tok3n-main-list .new-item {
  height: 40px;
}
/* line 74, ../sass/main.sass */
.tok3n-main-list .avatar {
  margin-top: 0.1em;
  margin-right: 15px;
  width: 35px;
}
/* line 78, ../sass/main.sass */
.tok3n-main-list .avatar, .tok3n-main-list .info {
  float: left;
}
@media (min-width: 769px) {
  /* line 81, ../sass/main.sass */
  .tok3n-main-list .info {
    width: 163px;
  }
}
/* line 83, ../sass/main.sass */
.tok3n-main-list .title, .tok3n-main-list .url, .tok3n-main-list .description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 88, ../sass/main.sass */
.tok3n-main-list .title {
  color: #555555;
}
/* line 90, ../sass/main.sass */
.tok3n-main-list .url, .tok3n-main-list .description {
  color: #999999;
}
/* line 92, ../sass/main.sass */
.tok3n-main-list .item-selected {
  background-image: -moz-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: -o-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: -webkit-linear-gradient(top, #ece8f2 0%, #e7d6ff 100%);
  background-image: linear-gradient(to bottom, #ece8f2 0%, #e7d6ff 100%);
}
/* line 95, ../sass/main.sass */
.no-touch .tok3n-main-list .item-selected:hover, .no-touch .tok3n-main-list .item-selected:focus {
  background-image: -moz-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: -o-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: -webkit-linear-gradient(top, #e4d9f2 0%, #e0c7ff 100%);
  background-image: linear-gradient(to bottom, #e4d9f2 0%, #e0c7ff 100%);
}
/* line 97, ../sass/main.sass */
.tok3n-main-list .item-selected:active {
  background-image: -moz-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: -o-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: -webkit-linear-gradient(top, #d2bfe8 0%, #d0a3ff 100%);
  background-image: linear-gradient(to bottom, #d2bfe8 0%, #d0a3ff 100%);
}
/* line 100, ../sass/main.sass */
.tok3n-main-list .tok3n-new-list-button .title {
  font-style: italic;
  font-weight: normal;
  margin-top: 3px;
}
/* line 104, ../sass/main.sass */
.tok3n-main-list .tok3n-new-list-button i {
  font-size: 130%;
  margin-left: 7px;
  color: #0052a3;
}

/* line 113, ../sass/main.sass */
.tok3n-dashboard-segment {
  padding: 1em 3em;
}
/* line 115, ../sass/main.sass */
.tok3n-dashboard-segment .title {
  margin: 0.5em 0 0;
}
/* line 117, ../sass/main.sass */
.tok3n-dashboard-segment .title span {
  display: inline-block;
}
/* line 119, ../sass/main.sass */
.tok3n-dashboard-segment .settings-menu {
  margin-top: -0.8em;
}
/* line 121, ../sass/main.sass */
.tok3n-dashboard-segment .specs {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}
/* line 124, ../sass/main.sass */
.tok3n-dashboard-segment .specs td {
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}
/* line 127, ../sass/main.sass */
.tok3n-dashboard-segment .specs td.name {
  font-weight: bolder;
}
/* line 129, ../sass/main.sass */
.tok3n-dashboard-segment .specs a.action {
  text-decoration: underline;
  color: #e17714;
}
/* line 133, ../sass/main.sass */
.no-touch .tok3n-dashboard-segment .specs a.action:hover, .no-touch .tok3n-dashboard-segment .specs a.action:focus {
  color: #ff9633;
}
/* line 135, ../sass/main.sass */
.tok3n-dashboard-segment .specs a.action:active {
  color: #ffca99;
}
/* line 138, ../sass/main.sass */
.tok3n-dashboard-segment .specs .status span.label, .tok3n-dashboard-segment .specs .status .action-button {
  margin: 0 0.5em;
}
/* line 141, ../sass/main.sass */
.tok3n-dashboard-segment .specs .status span.label:first-child, .tok3n-dashboard-segment .specs .status .action-button:first-child {
  margin: 0 0.5em 0 0;
}
/* line 143, ../sass/main.sass */
.tok3n-dashboard-segment .specs .status span.label:last-child, .tok3n-dashboard-segment .specs .status .action-button:last-child {
  margin: 0 0 0 0.5em;
}
/* line 145, ../sass/main.sass */
.tok3n-dashboard-segment .specs .status span.label:only-child, .tok3n-dashboard-segment .specs .status .action-button:only-child {
  margin: 0;
}
/* line 147, ../sass/main.sass */
.tok3n-dashboard-segment .specs .status span.label {
  font-size: 0.9em;
}

/* line 150, ../sass/main.sass */
.tok3n-dashboard-upper {
  border-bottom: 1px solid #dddddd;
}

/* line 153, ../sass/main.sass */
.tok3n-dashboard-welcome-title {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1em;
}

/* line 159, ../sass/main.sass */
.tok3n-dashboard-new-form {
  position: relative;
  background: white;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
/* line 166, ../sass/main.sass */
.tok3n-dashboard-new-form .create-button {
  margin-bottom: 0;
  margin-top: 2em;
}
/* line 169, ../sass/main.sass */
.tok3n-dashboard-new-form .create-button button {
  margin-bottom: 15px;
}
/* line 171, ../sass/main.sass */
.tok3n-dashboard-new-form .title {
  margin-top: 0.5em;
  text-align: center;
}
/* line 174, ../sass/main.sass */
.tok3n-dashboard-new-form label.align-top {
  margin-top: 0.4em;
}
/* line 176, ../sass/main.sass */
.tok3n-dashboard-new-form .web-toggle {
  display: none;
}
/* line 178, ../sass/main.sass */
.tok3n-dashboard-new-form .btn-file {
  position: relative;
  overflow: hidden;
}
/* line 181, ../sass/main.sass */
.tok3n-dashboard-new-form .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/* line 194, ../sass/main.sass */
.tok3n-dashboard-new-form .form-control {
  cursor: default;
}

/* line 202, ../sass/main.sass */
.tok3n-app-icon, .tok3n-qr-code {
  width: 256px;
  height: 256px;
  margin: 0 auto 37px;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.3) 0 5px 27px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.3) 0 5px 27px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.3) 0 5px 27px;
}

/* line 209, ../sass/main.sass */
.tok3n-app-icon {
  background-image: url('../img/app-icon.png?1402604376');
  -moz-border-radius: 17.544%;
  -webkit-border-radius: 17.544%;
  border-radius: 17.544%;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 209, ../sass/main.sass */
  .tok3n-app-icon {
    background-image: url('../img/app-icon-hd.png?1366861301');
    background-size: 256px 256px;
  }
}

/* line 213, ../sass/main.sass */
.tok3n-qr-code {
  background-image: url('../img/qrcode.png?1391982648');
}

/* line 216, ../sass/main.sass */
ol.tok3n-step-list {
  list-style-type: none;
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter;
}
/* line 223, ../sass/main.sass */
ol.tok3n-step-list > li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  min-height: 3em;
  border-left: 2px solid #cccccc;
}
/* line 230, ../sass/main.sass */
ol.tok3n-step-list > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #2b3087;
  content: counter(li-counter);
  counter-increment: li-counter;
}
/* line 243, ../sass/main.sass */
ol.tok3n-step-list li:last-child {
  margin-bottom: 0;
}

/* line 252, ../sass/main.sass */
.tok3n-sending-progress {
  margin-top: 3em;
  margin-bottom: 3em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 257, ../sass/main.sass */
.tok3n-sending-progress-hidden {
  max-height: 0;
  margin: 0;
  overflow: hidden;
}

/* line 262, ../sass/main.sass */
.tok3n-progress {
  font-size: 20px;
  margin: 0;
}

/* line 267, ../sass/main.sass */
.tok3n-progress-wrapper {
  margin: 0 auto;
  width: 100px;
}

/* line 271, ../sass/main.sass */
.tok3n-sending-message {
  text-align: center;
}

/* line 274, ../sass/main.sass */
.tok3n-sending-progress {
  margin-top: 1.5 em;
}

/* line 277, ../sass/main.sass */
.tok3n-enter-code-screen p {
  text-align: center;
}

/* line 280, ../sass/main.sass */
.tok3n-enter {
  margin: 10px auto 15px;
  width: 225px;
}

/* line 285, ../sass/main.sass */
.tok3n-otp {
  height: 75px;
  padding-left: 20px;
  width: 100%;
  font-size: 36px;
}

/* line 291, ../sass/main.sass */
.icon-tok3n-cellphone, .icon-tok3n-text-bubble {
  font-size: 1.8em;
  display: inline-block;
  position: absolute;
  margin-left: 170px;
  margin-top: -52px;
  color: #bbbbbb;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
/* line 299, ../sass/main.sass */
.icon-tok3n-cellphone:hover, .icon-tok3n-text-bubble:hover {
  color: #85d2e6;
}
/* line 301, ../sass/main.sass */
.icon-tok3n-cellphone:after, .icon-tok3n-cellphone:before, .icon-tok3n-text-bubble:after, .icon-tok3n-text-bubble:before {
  white-space: pre;
}

/* line 304, ../sass/main.sass */
.tok3n-phoneline-name {
  margin-bottom: 5em;
}

/* line 315, ../sass/main.sass */
.tok3n-cards-container {
  perspective: 1000;
  margin-top: 2em;
}
/* line 33, ../sass/_helpers.sass */
.tok3n-cards-container .grid-gutter {
  width: 15px;
}
/* line 35, ../sass/_helpers.sass */
.tok3n-cards-container .card {
  width: 150px;
}
/* line 37, ../sass/_helpers.sass */
.tok3n-cards-container .card, .tok3n-cards-container .front, .tok3n-cards-container .back {
  height: 150px;
}
/* line 39, ../sass/_helpers.sass */
.tok3n-cards-container .front {
  width: 150px;
}
/* line 41, ../sass/_helpers.sass */
.tok3n-cards-container .back {
  width: 150px;
}
/* line 43, ../sass/_helpers.sass */
.tok3n-cards-container .inner {
  padding-top: 100%;
}
/* line 319, ../sass/main.sass */
.tok3n-cards-container .card {
  overflow: hidden;
  margin-bottom: 2em;
}
/* line 322, ../sass/main.sass */
.tok3n-cards-container .flipper {
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
}
/* line 327, ../sass/main.sass */
.tok3n-cards-container .front, .tok3n-cards-container .back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 332, ../sass/main.sass */
.tok3n-cards-container .card, .tok3n-cards-container .front, .tok3n-cards-container .back {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 334, ../sass/main.sass */
.tok3n-cards-container .front, .tok3n-cards-container .flip, .tok3n-cards-container .revoke {
  cursor: pointer;
}
/* line 336, ../sass/main.sass */
.tok3n-cards-container .front {
  z-index: 2;
  background: white;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 340, ../sass/main.sass */
.tok3n-cards-container .back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: rgba(231, 214, 255, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
}
/* line 344, ../sass/main.sass */
.tok3n-cards-container .flipped {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 346, ../sass/main.sass */
.tok3n-cards-container .img-wrap {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 357, ../sass/main.sass */
.tok3n-cards-container .inner {
  display: block;
  height: 0;
}
/* line 360, ../sass/main.sass */
.tok3n-cards-container .revoke, .tok3n-cards-container .flip, .tok3n-cards-container .text-container, .tok3n-cards-container .info {
  width: inherit;
}
/* line 362, ../sass/main.sass */
.tok3n-cards-container .flip {
  margin: 0.8em 0 0;
  padding: 0 1em;
}
/* line 365, ../sass/main.sass */
.tok3n-cards-container .revoke {
  margin: 1em 0;
  padding: 0 1em;
}
/* line 368, ../sass/main.sass */
.tok3n-cards-container .info {
  padding: 0 4em 0 1em;
  margin: -20px 0 1em 0;
}
/* line 371, ../sass/main.sass */
.tok3n-cards-container .flip {
  height: 20px;
  text-align: right;
  font-size: 130%;
}
/* line 375, ../sass/main.sass */
.tok3n-cards-container .text-container, .tok3n-cards-container .revoke {
  position: absolute;
  bottom: 0;
}
/* line 378, ../sass/main.sass */
.tok3n-cards-container .text-container {
  padding: 1em;
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.8), 0 0 1px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.8), 0 0 1px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.8), 0 0 1px rgba(0, 0, 0, 0.8) inset;
}
/* line 381, ../sass/main.sass */
.no-touch .tok3n-cards-container .text-container {
  visibility: hidden;
}
/* line 388, ../sass/main.sass */
.no-touch .tok3n-cards-container .front:hover {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8) inset;
}
/* line 390, ../sass/main.sass */
.no-touch .tok3n-cards-container .front:hover .text-container {
  visibility: visible;
}

/* line 397, ../sass/main.sass */
.tok3n-new-integration-callback-url {
  max-height: 490px;
}
