.no-flexbox
 
  $top-nav-height: 58px //- hardcoded!!
  $menu-width: 220px
  $apps-width: 252px
  $left-width: $menu-width + $apps-width

  +from(3)

    .tok3n-layout
      padding-left: $left-width
      position: relative
      padding-top: $top-nav-height
      z-index: 1

    .tok3n-sidebar, .tok3n-main-list
      position: fixed
      bottom: 0
      overflow: auto

    .tok3n-main-list
      top: 0

    .tok3n-sidebar
      margin-left: $left-width * -1
      width: $menu-width
      top: $top-nav-height
      text-align: center
      padding: 2em 0

    .tok3n-main-list
      width: $apps-width
      border-right: 1px solid #ddd

    .tok3n-pt-perspective
      margin-left: $apps-width * -1
      overflow: auto

    .tok3n-main-content
      margin-left: $apps-width

  ////////////////////
  // Page transitions
  ////////////////////

  .tok3n-pt-perspective
    // The height of this element must be set with js (Tok3nDashboard.compatibilityLayout()) because it can't expand to the child's height, because the children are positioned absolutely. BTW this all this 3 pane setup is a huge hack, which should be done using flex-box.
  .tok3n-pt-page
    width: 100%
    height: 100%