// Based on http://codepen.io/nickbottomley/pen/hkfeI by nickb1080

@mixin radio-slider-number-of-options($number)
  $no-selection-selector: ""
  @for $i from 1 through $number
    input:nth-of-type(#{$i}):checked ~ .slider
      left: ($i - 1) * (1 / $number) * 100.0%
    & label
      width: (1 / $number) * 100.0%
    & .slider
      width: (1 / $number) * 100.0%
      left: (1 / $number) * -100.0%
    $no-selection-selector: $no-selection-selector + "input:not(:checked) ~ "
    
  $no-selection-selector: $no-selection-selector + ".slider"
  #{$no-selection-selector} 
    transition: top .25s ease-in-out .25s, left .25s ease-in-out .5s


%radio-slider
  font-size: 0
  position: relative
  z-index: 0
  overflow: hidden

  & label
    text-align: center
    display: inline-block
    position: relative
    z-index: 10
    cursor: pointer
    transition: color .25s ease .1s
    
  & .slider
    position: absolute
    //+transition(left .25s ease-in-out)
    height: 100%
    top: -100%

  input[type="radio"]
    display: none

  input:checked + label
    cursor: default

  input:checked ~ .slider
    top: 0
    transition: top .25s ease-in-out .25s, left .25s ease-in-out

////////////////////////
// Example usage SASS //
////////////////////////

// .tok3n-radio-slider
//   +radio-slider-number-of-options(3)
//   @extend %radio-slider
//   margin: 0 auto
//   width: 80%
//   border-radius: 10rem
//   border: .25rem solid #2c3e50
//   +box-shadow(inset 0 0 .5rem rgba(0,0,0,.9), 0 2px 1px rgba(0,0,0,.5))
//   background: #2c3e50
//   & label
//     // Don't use ems
//     font-size: 12px
//     padding: 12px
//     color: rgba(255,255,255,.75)
//     &:not(:last-of-type)
//       border-right: 1px solid rgba(0,0,0,.1)
//   & .slider
//     background: #27ae60
//     +box-shadow(0 0 .5rem rgba(0,0,0,.7))
//   input:checked + label
//     color: white

//////////////////////////
// Example usage (Jade) //
//////////////////////////

// .tok3n-radio-slider
//   input#one(type="radio", name="group-1")
//   label.lbl(for="one") ONE
//   input#two(type="radio", name="group-1")
//   label.lbl(for="two") TWO
//   input#three(type="radio", name="group-1")
//   label.lbl(for="three") THREE
//   .slider