@import 'imports'

////////////////////
// Sitewide
////////////////////

body
  font-family: "ff-dagny-web-pro"
  color: #333
  font-size: 145%

  a
    +link-colors(#434cd3, #636bd4, #ba7f29)

h1, h2, h3, h4, h5, h6
  font-family: "adelle"
  color: hsla(237,40,40,1)

a
  text-decoration: none
  color: #1b98f8

//////////////////////
// Top nav proportions
//////////////////////

$top-nav-height: 58px //- hardcoded!!
$logo-width: 100px
$logo-proportion: .36
$nav-separation: 2.1em
$button-separation: .5em
$nav-margin-top: 13px

.tok3n-top
  position: relative
  z-index: 1000

.tok3n-top-nav
  +single-box-shadow(0,-12px,30px,0,hsla(264,50,10,.15),true)
  background: white(.9)
  width: 100%
  letter-spacing: normal
  border-bottom: 1px solid #411485
  border-bottom: 1px solid hsla(264,74,30,.3)
  +from(3)
    position: fixed
  
  .nav-wrap
    padding: 0 1.9em
  
  header
    .logo
      margin: 0.61em 0
      height: 40px
      width: 111px
      +hr-image("logo.png", "logo_hd.png")
  
  nav
    margin-top: $nav-margin-top
    .menu
      text-align: right
      margin-right: 1em
      ul
        +inline-list
        li
          margin: 0 $nav-separation/2
          +at(1)
            &.developers
              display: none
          +from(3)
            &.toggle-sidebar
              display: none
            margin: 0 0 0 $nav-separation/2
          a
            .touch &
              +link-colors($normal: #171947, $active: #ba7f29)
            .no-touch &
              +link-colors(#171947, #434cd3, #ba7f29)
            +letterpress(white(.7))
            // font-weight: bolder
          &:first-child
            margin: 0 $nav-separation/2 0 0
          &:last-child
            margin: 0 0 0 $nav-separation/2
          &:only-child
            margin: 0
          .settings
            background: hsla(236, 62%, 40%, 0.68)
            color: #fff
            padding: .5em 1.2em
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
            +border-radius(4px)
            +single-transition(background, .3s, ease-out, 0)
            .no-touch &
              &:hover
                background: hsla(236, 62%, 50%, 0.9)
            &:active
              background: hsla(236, 62%, 80%, 0.9)
            .icon-cog
              font-size: 16px
            .text
              margin-left: .6em
              font-family: 'ff-dagny-web-pro'
            .icon-caret-down
              margin-left: .8em

/////////////////////////////
// Three column propoportions
/////////////////////////////

+from(3)
  $menu-width: 220px
  $apps-width: 252px
  $left-width: $menu-width + $apps-width

  .tok3n-layout
    padding-left: $left-width
    position: relative
    padding-top: $top-nav-height
    z-index: 1

  .tok3n-sidebar, .tok3n-main-list
    position: fixed
    bottom: 0
    overflow: auto

  .tok3n-main-list
    top: 0

  .tok3n-sidebar
    margin-left: $left-width * -1
    width: $menu-width
    top: $top-nav-height
    text-align: center
    padding: 2em 0

  .tok3n-main-list
    width: $apps-width
    border-right: 1px solid #ddd

  .tok3n-pt-perspective
    margin-left: $apps-width * -1

  .tok3n-main-content
    margin-left: $apps-width

////////////////////
// Page transitions
////////////////////

@import 'page-transitions'

.tok3n-pt-perspective
  // The height of this element must be set with js. BTW this all this 3 pane setup is a huge hack, which should be done using flex-box.
.tok3n-pt-page
  width: 100%

////////////////////
// Sidebar
////////////////////

.tok3n-sidebar
  background: rgb(37, 42, 58)
  .menu
    margin: 0
    background: transparent
    border: none
    text-align: left
    list-style-type: none
    padding-left: 0
    max-height: 800px
    @extend %tok3n-collapse
    +user-select(none)
    +from(3)
      // Hack to align to logo left
      margin-left: -10px
    li
      cursor: pointer
      +to(2)
        padding: .8em 2em
      +from(3)
        padding-top: .7em
        padding-bottom: .2em
      color: #fff
      color: white(.7)
      .no-touch &
        &:hover, &:focus
          background: #373c5a
          color: #fff
        &.tok3n-sidebar-selected
          &:hover, &:focus
            background: #3e4465
      &.tok3n-sidebar-selected
        background: #3e4465
      .title, .icon
        +to(2)
          display: inline-block
      .title
        text-align: left
        padding-left: 0
        +to(2)
          font-size: 120%
          margin-top: 0.2em
      .icon
        color: white(.8)
        color: #fff
        text-align: center
        +to(2)
          font-size: 150%
        +from(3)
          font-size: 130%

////////////////////
// Dropdown
////////////////////

.dropdown-show
  display: block